body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222;
}

/*Koko ruudun mittainen viiva*/
.hr-jakaja {
  margin-top: 0px;
  margin-bottom: 0px;
  border-width: 1px;
  border-color: #00838F !important;
  width: 100%;
}

/*-- NAVIGOINTIPALKKI --*/

.navbar-main{
  background-color: #00838f;
  min-height: 10vh;
  padding: 2vmin;
}
.navbar-nav-home li{
  padding-right: 2vmin;
}
.nav-link-home {
  font-size: 1.0em !important;
  color: white !important;
}
.navbar-brand-main {
  color:white !important;
} 

/*-- ALOITUSSIVU --*/

/*Tervetulo-osuuden tyyli*/
.Aloitussivu-tervetuloa {  
  background-image: url("./images/fig_dragon_mount.jpg");
  background-color: #282c34; /* Used if the image is unavailable */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: black;
}

/*Kuvien päälle asetettava läpinäkyvä div*/
div.transbox {
  background-color: whitesmoke;  
  border: 1px solid #282c34;
  opacity: 0.6;
  margin: 10vmin;  
  padding: 4vmin;  
}

/*Header transboxin sisällä*/
div.transbox h2 {
  font-weight: bold;
  color: #222;
}

/*Fontti transboxin sisällä*/
div.transbox p {  
  font-weight: bold;
  color: #000000;
  margin: 5vmin;  
}

/*-- ALISIVUJEN ESITTELY --*/

/*Aloitussivulla olevan alisivujen esittelykorttien tyyli*/
.Aloitussivu-alisivut {
  background-color: whitesmoke;  
  min-height: 60vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 4vmin;
  padding-bottom: 4vmin;
}

/*Aloitussivulla olevan alisivujen esittelykorttien tyyli*/
.Alisivujen-esittelykortti {
  background-color: white;
  padding: 2vmin;
  height: 100%;
}
.card-doby {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.Alisivujen-esittelykortti-kuva {  
  height: 25vmin;
  margin-bottom: 2vmin;;
}
.Alisivujen-esittelykortti-button {  
  color: #222 !important;
  background-color: #ffcc80 !important;
  width: 40%;
  align-self: center;
  margin-top: auto;
}

/*-- PERUSASIAT --*/

/*Prusasiat-sivun sisällön tyyli*/
.Perusasiat-asettelu {
  background-color: whitesmoke;
  min-height: 40vh;
}
.Perusasiat_teksti {
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.Perusasiat_teksti h3 {
  padding-bottom: 2vmin;
}
.Perusasiat_kuva-div{
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
}
.Kuva_perusasiat {
  height: 30vmin;
  width: 40vmin;
  display: block;
  border: 3px solid #222;
}

/*-- MAALAUSOPAS --*/

.navbar-brand-maalausopas {
  color: #222 !important;
  font-style: bold;
}
.nav-pills-maalausopas > a {
  color: #222 !important;
}
.nav-pills-maalausopas > a:hover {
  color: #005662 !important;
}

/*Maalausopas-osion tyyli*/
.Maalausopas-tausta {
  background-color: whitesmoke;
  
}
.Maalausopas-sisalto {
  background-color: rgb(222, 227, 228);
  padding-top: 2vmin;
  padding-bottom: 2vmin;
}
.Maalausopas-rivi {
  padding-top: 2vmin;
  padding-bottom: 2vmin;
}
.Maalausopas-otsikko {
  display: flex;
  flex-direction: column;  
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  min-height: 20vh;
}
.Maalausopas-otsikko h1, h2, h3, h4, h5{
  padding-bottom: 2vmin;
  font-style: bold;
}
.Maalausopas-kappale {
  display: flex;
  flex-direction: column;  
  padding-top: 2vmin;
  min-height: 40vh;
}
.div-maalausopas-kuva {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.Kuva_maalausopas {
  height: 30vmin;
  width: 40vmin;
  min-height: 250px;
  min-width: 350px;
  display: block;
  border: 3px solid #222;
}

/*-- MAALIT JA TYÖKALUT --*/

.navbar-brand-mjt {
  color: #222 !important;
  font-style: bold;
}
.nav-pills-mjt > a {
  color: #222 !important;
}
.nav-pills-mjt > a:hover {
  color: #005662 !important;
}
.nav-pills-mjt-alivalikko > a {
  color: #222 !important;
}
.nav-pills-mjt-alivalikko > a:hover {
  color: #005662 !important;
}


/*Maalit ja työkalut-osion sisällön tyyli*/
.Maalit_ja_tyokalut_sisalto {
  background-color: whitesmoke;
  min-height: 80vh;
}

/*-- MAALAUSTEKNIIKAT --*/

.nav-pills-maalaustekniikat > a.active {
  background-color: #ffcc80 !important;
  color: #222 !important;
}
.nav-pills-maalaustekniikat > a:hover {
  color: #005662 !important;
}
.nav-link-maalaustekniikat-color {
  color: #222;
}

.Maalaustekniikat-sisalto {
  background-color: whitesmoke;
  min-height: 80vh;
}

/*-- INFO --*/

/*Info-palkin sisällön tyyli*/
.Info-asettelu {
  background-color: #4fb3bf;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 2vmin;
}

.Info-lomake {
  padding-right: 5vmin;
  text-align: left;
}

.Info-tekstit {
  padding-left: 2vmin;
  padding-right: 2vmin; 
}

.btn-primary {
  background-color: #ffcc80 !important;
  color: #222 !important;
}

.hr-info {
  border-color: #00838F !important;
  border-width: 3px;
}

.sivukartta-linkki {
  color: #222 !important;
}

.sivukartta-linkki:hover {
   color: #005662 !important;
}

/*-- FOOTER --*/

.App-footer {  
  background-color: #00838f;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}