body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222;
}

/*Koko ruudun mittainen viiva*/
.hr-jakaja {
  margin-top: 0px;
  margin-bottom: 0px;
  border-width: 1px;
  border-color: #00838F !important;
  width: 100%;
}

/*-- Navigointipalkki --*/
.navbar{
  background-color: #00838f;
  min-height: 10vh;
  padding: 2vmin;
} 
.navbar-nav li{
  padding-right: 2vmin;
} 

.nav-link {
  font-size: 1.2em !important;
} 

/*-- ALOITUSSIVU --*/

/*Tervetulo-osuuden tyyli*/
.Aloitussivu-tervetuloa {  
  background-image: url("./images/fig_dragon_mount.jpg");
  background-color: #282c34; /* Used if the image is unavailable */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: black;
}

/*Kuvien päälle asetettava läpinäkyvä div*/
div.transbox {
  background-color: whitesmoke;  
  border: 1px solid #282c34;
  opacity: 0.6;
  margin: 10vmin;  
  padding: 4vmin;  
}

/*Fontti transboxin sisällä*/
div.transbox h2 {
  font-weight: bold;
  color: #222;
}

/*Fontti transboxin sisällä*/
div.transbox p {  
  margin: 5vmin;  
  font-weight: bold;
  color: #000000;  
}

/*-- ALISIVUJEN ESITTELY --*/

/*Aloitussivulla olevan alisivujen esittelykorttien tyyli*/
.Aloitussivu-alisivut {
  background-color: whitesmoke;  
  min-height: 60vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 4vmin;
  padding-bottom: 4vmin;
}

/*Aloitussivulla olevan alisivujen esittelykorttien tyyli*/
.Alisivujen-esittelykortti {
  background-color: white;
  padding: 2vmin;
  height: 100%;
}

.card-doby {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*Aloitussivulla olevan alisivujen esittelykorttien kuvien tyyli*/
.Alisivujen-esittelykortti-kuva {  
  height: 25vmin;
  margin-bottom: 2vmin;;
}

.Alisivujen-esittelykortti-button {  
  color: #222 !important;
  background-color: #ffcc80 !important;
  width: 40%;
  align-self: center;
  margin-top: auto;
}

/*-- PERUSASIAT --*/

/*Aloitussivun sisällön tyyli*/
.Perusasiat-asettelu {
  background-color: whitesmoke;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

/*Keskikokoisen kuvan tyyli*/
.Kuva_perusasiat {
  margin-left: 3vmin;
  height: 30vmin;
  width: 40vmin;
  display: block;
}

/*-- MAALAUSOPAS --*/

/*Maalausopas-osion sisällön tyyli*/
.Maalausopas-asettelu {
  background-color: whitesmoke;
  min-height: 30vh;
  align-items: top;
  justify-content: center;
  padding: 1%;
}

/*Keskikokoisen kuvan tyyli*/
.Kuva_maalausopas {
  margin-left: 3vmin;
  height: 30vmin;
  width: 40vmin;
  display: block;
}

/*-- MAALIT JA TYÖKALUT --*/

/*Maalit ja työkalut-osion sisällön tyyli*/
.Maalit_ja_tyokalut_sisalto {
  background-color: whitesmoke;
  min-height: 80vh;
  align-items: top;
  justify-content: center;
  padding: 1%;
}

.nav-pills > a.active {
  background-color: #ffcc80 !important;
  color: #222 !important;
}

.nav-pills > a:hover {
  color: #005662 !important;
}

.nav-link-color {
  color: #222;
}

/*-- INFO --*/

/*Info-palkin sisällön tyyli*/
.Info-asettelu {
  background-color: #4fb3bf;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 2vmin;
}

.Info-lomake {
  padding-right: 5vmin;
  text-align: left;
}
.Info-tekstit {
  padding-left: 2vmin;
  padding-right: 2vmin; 
}

.btn-primary {
  background-color: #ffcc80 !important;
  color: #222 !important;
}

.hr-info {
  border-color: #00838F !important;
  border-width: 3px;
}

/*-- FOOTER --*/

/*Footerin tyyli"*/
.App-footer {  
  background-color: #00838f;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}