body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Kuvan tyyli, className="Kuva_keskikokoinen"*/
.Kuva_keskikokoinen {
  height: 40vmin;
  pointer-events: none;
}

/*Headerin tyyli, className="App-header"*/
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

/*Tervetulo-osuuden tyyli*/
.App-tervetuloa {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

/*Sivujen sisällön tyyli, className="App-sisalto"*/
.App-sisalto {
  background-color: #bfd0e1;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: black;
}

/*Footerin tyyli, className="App-footer"*/
.App-footer {
  background-color: #98e7f5;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: black;
}

/*Linkkien väri, className="App-link"*/
.App-link {
  color: #61dafb;
}